version: '3.8'
services:
  ai-chat-bot:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    ports:
      - 3000:3000
    networks:
      - poores
    environment:
      - MONGO_URL=mongodb://mongo:27017/telegrambot
    depends_on:
      - mongo

networks:
  poores:
    external: true
